@model PayInc_Customer_web.Areas.Networks.Models.SearchNetwork
@{
    ViewData["Title"] = "Search Network";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex flex-row">
    <div class="flex-row-fluid">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-body px-2">
                <form action="@Url.Action("ViewProfile","SearchNetwork")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <label class="col-lg-2 col-form-label text-lg-right">Mobile Number:</label>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            @if (ViewBag.NetworkChain != null)
                            {
                                @Html.DropDownListFor(m => m.MobileNumber, new SelectList(ViewBag.NetworkChain, "mobileNumber", "customerAccountStatus"), "--Select Mobile Number--", new { @class = "form-control searchable-dropdown", style = "width:100%" })
                            }
                            @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <input type="submit" class="btn btn-block btn-primary" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

