
@{ 
    ViewData["Title"] = "Dashboard";
}


<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div id="carouselExampleIndicators" class="carousel slide gutter-b" data-ride="carousel">
            <ol class="carousel-indicators">
                @if (ViewBag.DashboardImage != null)
                {
                    var listImage1 = (List<DashboardRes>)ViewBag.DashboardImage;

                    @for (int i = 0; i < listImage1.Count; i++)
                    {
                        if (i == 0)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                        }
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{
                    if (ViewBag.DashboardImage != null)
                    {
                        var listImage = (List<DashboardRes>)ViewBag.DashboardImage;
                        foreach (var item in listImage)
                        {
                            <div class="carousel-item @(listImage.First()==item ? " active":"") ">
                                <img src="@item.imageUrl" class="img-fluid" style="width:590px;height:255px"/>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="carousel-item active">
                            <div class="flex-grow-1 bg-warning p-12  card-rounded flex-grow-1 bgi-no-repeat"
                                 style="background-position: right bottom;background-size: 55% auto;background-image: url(/assets/media/svg/patterns/aare.svg)">
                                <h3 class="text-inverse-info pb-5 font-weight-bolder">Recharge Now</h3>
                                <p class="text-inverse-info pb-5 font-size-h6">
                                    Offering best commission
                                    <br>online recharge with plan
                                    <br>Easy way to recharge
                                </p>
                                <a href="#" class="btn btn-success font-weight-bold py-2 px-6">Recharge Now</a>
                            </div>
                        </div>
                    }

                }

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="card card-custom bg-primary gutter-b">
            <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
                <span class="symbol symbol-50 symbol-white mr-2">
                    <span class="symbol-label">
                        <span class="icon-xl fas fa-lg fa-rupee-sign text-primary"></span>
                    </span>
                </span>
                <div class="d-flex flex-column text-right">
                    <span class="text-white font-weight-bolder font-size-h3" id="lblCurrentUsage"><span class="fas fa-circle-notch fa-spin text-white"></span></span>
                    <span class="text-white font-weight-bold mt-2">Usage</span>
                </div>
            </div>
        </div>
        <div class="card card-custom bg-danger gutter-b">
            <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
                <span class="symbol symbol-50 symbol-light-danger mr-2">
                    <span class="symbol-label">
                        <span class="icon-xl fas fa-lg fa-rupee-sign text-danger"></span>
                    </span>
                </span>
                <div class="d-flex flex-column text-right">
                    <span class="text-white font-weight-bolder font-size-h3" id="lblCurrentMonthUsage"><span class="fas fa-circle-notch fa-spin text-white"></span></span>
                    <span class="text-white font-weight-bold mt-2 mb-5">Monthly Usage</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card card-custom bg-warning gutter-b">
            <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
                <span class="symbol symbol-50 symbol-white mr-2">
                    <span class="symbol-label">
                        <span class="icon-xl fas fa-lg fa-rupee-sign text-warning"></span>
                    </span>
                </span>
                <div class="d-flex flex-column text-right">
                    <span class="text-white font-weight-bolder font-size-h3" id="lblPaymentRec"><span class="fas fa-circle-notch fa-spin text-white"></span></span>
                    <span class="text-white font-weight-bold mt-2">Payment Received</span>
                </div>
            </div>
        </div>
        <div class="card card-custom bg-info gutter-b">
            <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
                <span class="symbol symbol-50 symbol-white mr-2">
                    <span class="symbol-label">
                        <span class="icon-xl fas fa-lg fa-rupee-sign text-info"></span>
                    </span>
                </span>
                
                <div class="d-flex flex-column text-right">
                    <span class="text-white font-weight-bolder font-size-h3" id="lblPaymentMonthlyRec"><span class="fas fa-circle-notch fa-spin text-white"></span></span>
                    <span class="text-white font-weight-bold mt-2">Monthly Payment Received</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--begin::Row-->
<div class="row">
    <div class="col-lg-6 col-xxl-4">
        <!--begin::Mixed Widget 1-->
        <div class="card card-custom bg-gray-100 card-stretch gutter-b">
            <!--begin::Header-->
            <div class="card-header border-0 bg-danger py-5">
                <h3 class="card-title font-weight-bolder text-white">Network Stat</h3>
                <div class="card-toolbar">
                    <div class="dropdown dropdown-inline">
                        <a href="#" class="btn btn-transparent-white btn-sm font-weight-bolder dropdown-toggle px-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <!--begin::Navigation-->
                            <ul class="navi navi-hover">
                                <li class="navi-header pb-1">
                                    <span class="text-primary text-uppercase font-weight-bold font-size-sm">Reports:</span>
                                </li>
                                <li class="navi-item">
                                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="flaticon2-shopping-cart-1"></i>
                                        </span>
                                        <span class="navi-text">Network List</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="flaticon2-calendar-8"></i>
                                        </span>
                                        <span class="navi-text">View Commission</span>
                                    </a>
                                </li>
                            </ul>
                            <!--end::Navigation-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body p-0 position-relative overflow-hidden">
                <!--begin::Chart-->
                <div id="kt_mixed_widget_1_chart" class="card-rounded-bottom bg-danger" style="height: 200px"></div>
                <!--end::Chart-->
                <!--begin::Stats-->
                <div class="card-spacer mt-n25">
                    <!--begin::Row-->
                    <div class="row m-0">
                        <div class="col bg-light-warning px-6 py-8 rounded-xl mr-7 mb-7">
                            <span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                            <span class="text-warning font-weight-bold">Network Usage: </span><div class="clearfix"></div>
                            <span class="text-warning font-weight-bold mb-2  mb-1" id="lblNetworkUsage"><span class="fas fa-circle-notch fa-spin text-warning"></span></span>
                        </div>
                        <div class="col bg-light-primary px-6 py-8 rounded-xl mb-7">
                            <span class="svg-icon svg-icon-3x svg-icon-primary d-block my-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                            </span>
                            <span class="text-primary font-weight-bold">Monthly Usage: </span><div class="clearfix"></div>
                            <span class="text-primary font-weight-bold mt-1 mb-1" id="lblNetworkMonthUsage"><span class="fas fa-circle-notch fa-spin text-primary"></span></span>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col bg-light-danger px-6 py-8 rounded-xl mr-7">
                            <span class="svg-icon svg-icon-3x svg-icon-danger d-block my-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero" />
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>
                            </span>
                            <a href="#" class="text-danger font-weight-bold mt-2">Payment: </a>
                            <span class="text-danger font-weight-bold mt-1 mb-1" id="lblNetworkPaymentRec"><span class="fas fa-circle-notch fa-spin text-danger"></span></span>

                        </div>
                        <div class="col bg-light-success px-6 py-8 rounded-xl">
                            <span class="svg-icon svg-icon-3x svg-icon-success d-block my-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M12.7037037,14 L15.6666667,10 L13.4444444,10 L13.4444444,6 L9,12 L11.2222222,12 L11.2222222,14 L6,14 C5.44771525,14 5,13.5522847 5,13 L5,3 C5,2.44771525 5.44771525,2 6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,13 C19,13.5522847 18.5522847,14 18,14 L12.7037037,14 Z" fill="#000000" opacity="0.3" />
                                        <path d="M9.80428954,10.9142091 L9,12 L11.2222222,12 L11.2222222,16 L15.6666667,10 L15.4615385,10 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 L9.80428954,10.9142091 Z" fill="#000000" />
                                    </g>
                                </svg>
                            </span>
                            <a href="#" class="text-success font-weight-bold mt-2">Commission: </a>
                            <span class="text-success font-weight-bold mt-1 mb-1" id="lblNetworkCommissionRec"><span class="fas fa-circle-notch fa-spin text-success"></span></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xxl-4">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header align-items-center border-0 mt-4">
                <h3 class="card-title align-items-start flex-column">
                    <span class="font-weight-bolder text-dark">Recent Recharge/Payment</span>
                </h3>
            </div>
            <div class="card-body pt-4">
                <div class="timeline timeline-6 mt-3" id="timeline_transaction">
                    <div class="text-center">
                        <div class="btn btn-white">Please wait...<span class="text-muted"><span class="fas fa-circle-notch fa-spin"></span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xxl-4">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header align-items-center border-0 mt-4">
                <h3 class="card-title align-items-start flex-column">
                    <span class="font-weight-bolder text-dark">Usage Day-wise Chart</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="chart_1"></div>
            </div>
        </div>
    </div>
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row">
    <!--<div class="col-lg-4">-->
        <!--begin::Mixed Widget 14-->
        <!--<div class="card card-custom card-stretch gutter-b">-->
            <!--begin::Header-->
            <!--<div class="card-header border-0 pt-5">
                <h3 class="card-title font-weight-bolder">Kyc form Progress</h3>
                <div class="card-toolbar">
                    <div class="dropdown dropdown-inline">
                        <a href="#" class="btn btn-clean btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ki ki-bold-more-hor"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                           
                        </div>
                    </div>
                </div>
            </div>-->
            <!--end::Header-->
            <!--begin::Body-->
            <!--<div class="card-body d-flex flex-column">
                <div class="flex-grow-1">
                    <div id="kt_mixed_widget_14_chart" style="height: 200px"></div>
                </div>
                <div class="pt-5">
                    <p class="text-center font-weight-normal font-size-lg pb-7">
                        Notes: Kindly Upload PAN CARD for next step
                        <br />to approve newly amended policies
                    </p>
                    <a href="#" class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3">Go to KYC</a>
                </div>
            </div>-->
            <!--end::Body-->
        <!--</div>-->
        <!--end::Mixed Widget 14-->
    <!--</div>-->
    <div class="col-lg-12">
        <!--begin::Advance Table Widget 4-->
        <div class="card card-custom card-stretch gutter-b">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">Recent Transactions</span>
                    <span class="text-muted mt-3 font-weight-bold font-size-sm">Last 10 Transactions</span>
                </h3>
                <div class="card-toolbar">
                    <a href="/Reports/LedgerReport" class="btn btn-info font-weight-bolder font-size-sm mr-3">Ledger Report</a>
                    <a href="/Reports/TransactionReport" class="btn btn-danger font-weight-bolder font-size-sm">Summary Report</a>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-0 pb-3">
                <div class="tab-content">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table id="records_table" class="table table-head-custom table-head-bg table-bordered table-vertical-center">
                            <thead>
                                <tr class="text-left text-uppercase">
                                    <th><span>Operator</span></th>
                                    <th>Mobile Number</th>
                                    <th>Transaction ID</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tbl_load">
                                    <td colspan="6">
                                        <div class="text-center">
                                            <div class="btn btn-default">Please wait... <span class="spinner spinner-right spinner-dark p-15"></span></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                       
                    </div>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Advance Table Widget 4-->
    </div>
</div>
<!--end::Row-->
<script src="~/js/dashboard.js"></script>