<div class="row">
    <div class="col-4" id="show_pan_verify_panel">
        <form class="form" id="submit_dist_form" method="post" action="@Url.Action("VerifyMethod","OnBoardingForm")">
            @if (ViewData["ADCustomerName"] != null)
            {
                <div class="form-group">
                    <label>Distributor</label>
                   <input type="text" class="form-control form-control-solid" name="ddlADlist" placeholder="PARTNER"  value="@ViewData["ADCustomerName"]"  readonly />
                </div>
            }
            else
            {
                if (ViewBag.ADList != null)
                {
                    <div class="form-group">
                        <label>Select Distributor</label>
                        @Html.DropDownList("ddlADlist", new SelectList(ViewBag.ADList, "customerId", "mobileNumber"), "--SELECT DISTRIBUTOR--", new { @class = "form-control" })
                    </div>
                }
            }
            <div class="form-group">
                <button type="submit" id="btn_submit_dist" class="btn btn-primary btn-block font-weight-bolder">Submit  <span class="loader" style="display:none;"></span></button>
            </div>
        </form>
    </div>
</div>


<script src="~/js/onboarding_wizard.js"></script>