
<div class="row">
    <div class="col-4"  id="show_pan_verify_panel">
        <form class="form" id="submit_pan" method="post" action="@Url.Action("CheckPANDetails","OnBoardingForm")">
            <div class="form-group">
                <label>PAN CARD Number</label>
                <input type="text" class="form-control form-control-solid" name="panNumber" placeholder="Enter PAN CARD Number" id="txtPanNumber"/>
            </div>
            <div class="form-group">
                <button type="submit" id="btn_submit_pan" class="btn btn-primary btn-block font-weight-bolder">Submit  <span class="loader" style="display:none;"></span></button>
            </div>
        </form>
        

    </div>
    <div class="col-4" style="display:none;" id="show_pan_details_panel">
        <form class="form" action="@Url.Action("VerifyPANCard","OnBoardingForm")" id="form_verifypan">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control form-control-solid" id="fullname" name="fullname" placeholder="Fetch Full Name" readonly />
            </div>
            <div class="form-group">
                <label>Father Name</label>
                <input type="text" class="form-control form-control-solid" id="fathername" name="fathername" placeholder="Fetch Father Name" readonly />
            </div>
            @*<div class="form-group">
                <label>Date of Birth</label>
                <input type="date" class="form-control form-control-solid" id="dob" name="dob" placeholder="Date Of Birth" />
            </div>*@
            <div class="form-group">
                <button type="submit" id="btn_verify_pan" class="btn btn-primary btn-block font-weight-bolder">Next <span class="loader" style="display:none;"></span></button>
            </div>
        </form>
        
    </div>
</div>
<script src="~/js/onboarding_wizard.js"></script>