<div id="kt_header" class="header header-fixed">
    <!--begin::Container-->

    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    @{
        var result = HttpContextAccessor.HttpContext.Session.GetString("LoginDetails");
        var obj = Newtonsoft.Json.JsonConvert.DeserializeObject<LoginResData>(result);
    }



    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <!--begin::Header Menu Wrapper-->
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <!--begin::Header Menu-->
            <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                <!--begin::Header Nav-->
                <!--<ul class="menu-nav">
                    <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here menu-item-active" data-menu-toggle="click" aria-haspopup="true">
                        <a href="javascript:;" class="menu-link menu-toggle">
                            <span class="menu-text">Recharges</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-active" aria-haspopup="true">
                                    <a href="index.html" class="menu-link">
                                        <span class="svg-icon menu-icon">-->
                                            <!--begin::Svg Icon | path:/assets/media/svg/icons/Clothes/Briefcase.svg-->
                                            <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M5.84026576,8 L18.1597342,8 C19.1999115,8 20.0664437,8.79732479 20.1528258,9.83390904 L20.8194924,17.833909 C20.9112219,18.9346631 20.0932459,19.901362 18.9924919,19.9930915 C18.9372479,19.9976952 18.8818364,20 18.8264009,20 L5.1735991,20 C4.0690296,20 3.1735991,19.1045695 3.1735991,18 C3.1735991,17.9445645 3.17590391,17.889153 3.18050758,17.833909 L3.84717425,9.83390904 C3.93355627,8.79732479 4.80008849,8 5.84026576,8 Z M10.5,10 C10.2238576,10 10,10.2238576 10,10.5 L10,11.5 C10,11.7761424 10.2238576,12 10.5,12 L13.5,12 C13.7761424,12 14,11.7761424 14,11.5 L14,10.5 C14,10.2238576 13.7761424,10 13.5,10 L10.5,10 Z" fill="#000000" />
                                                    <path d="M10,8 L8,8 L8,7 C8,5.34314575 9.34314575,4 11,4 L13,4 C14.6568542,4 16,5.34314575 16,7 L16,8 L14,8 L14,7 C14,6.44771525 13.5522847,6 13,6 L11,6 C10.4477153,6 10,6.44771525 10,7 L10,8 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                </g>
                                            </svg>-->
                                            <!--end::Svg Icon-->
                                        <!--</span>
                                        <span class="menu-text">My Account</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                    
                    
                </ul>-->
                <!--end::Header Nav-->
            </div>
            <!--end::Header Menu-->
        </div>
        <!--end::Header Menu Wrapper-->
        <!--begin::Topbar-->
        <div class="topbar">
            <!--begin::Search-->
            <!--end::Notifications-->
            <!--begin::Quick Actions-->
            <div class="dropdown mr-25 bg-hover-light">
                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="d-flex align-items-stretch">
                        <div class="d-flex flex-grow-1 align-items-center bg-hover-light p-4 rounded">
                            <div class="mr-4 flex-shrink-0 text-center">
                                Main Wallet:
                            </div><span class="icon-xl fas fa-xs fa-rupee-sign text-primary"></span>
                            <div class="text-primary ml-2"><span id="wallet_balance"><i class="fas fa-circle-notch fa-spin text-primary "></i></span></div>
                        </div>

                    </div>
                </div>
                <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                    <!--begin:Header-->
                    <div class="d-flex flex-column flex-center py-10 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(/assets/media/misc/bg-1.jpg)">
                        <h4 class="text-white font-weight-bold">Main Wallet</h4>
                    </div>
                    <div class="m-2">

                        <div class="d-flex align-items-center bg-success rounded p-5 mb-2">
                            <div class="m-2 font-size-lg">
                                <span class="font-weight-normal text-white font-size-lg mb-1">Main Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-white"></span><span class="text-white" id="wallet_mainbalance"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-light-primary rounded p-5 mb-2">

                            <div class="m-2 font-size-lg">
                                <span class="font-weight-normal text- font-size-lg mb-1">Unclear Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-dark"></span><span class="text-dark" id="wallet_unclearbalance"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-light-warning rounded p-5 mb-2">
                            <div class="m-2  font-size-lg">
                                <span class="font-weight-normal text-warning font-size-lg mb-1">Reserved Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-warning"></span><span class="text-warning" id="wallet_reservedbalance"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-light-danger rounded p-5 mb-2">

                            <div class="m-2  font-size-lg">
                                <span class="font-weight-normal text-danger font-size-lg mb-1">Lien Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-danger"></span><span class="text-danger" id="wallet_lienbalance"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-light-success rounded p-5 mb-2">
                            <div class="m-2 font-size-lg">
                                <span class="text-success">Effective Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-success"></span><span class="text-success wallet_balance"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown mr-25 bg-hover-light">
                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="d-flex flex-grow-1 align-items-center bg-hover-light p-4 rounded">
                        <div class="d-flex flex-grow-1 align-items-center bg-hover-light p-4 rounded">
                            <div class="mr-4 flex-shrink-0 text-center">
                                Cashout Wallet:
                            </div><span class="icon-xl fas fa-xs fa-rupee-sign text-primary"></span>
                            <div class="text-primary ml-2"><span id="aeps_balance"><i class="fas fa-circle-notch fa-spin text-primary "></i></span></div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                    <div class="d-flex flex-column flex-center py-10 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(/assets/media/misc/bg-1.jpg)">
                        <h4 class="text-white font-weight-bold">Cashout Wallet</h4>
                    </div>
                    <div class="m-2">

                        <div class="d-flex align-items-center bg-success rounded p-5 mb-2">
                            <div class="m-2 font-size-lg">
                                <span class="font-weight-normal text-white font-size-lg mb-1">Main Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-white"></span><span class="text-white" id="aeps_mainbalance"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-light-primary rounded p-5 mb-2">

                            <div class="m-2 font-size-lg">
                                <span class="font-weight-normal text- font-size-lg mb-1">Unclear Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-dark"></span><span class="text-dark" id="aeps_unclearbalance"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-light-warning rounded p-5 mb-2">
                            <div class="m-2  font-size-lg">
                                <span class="font-weight-normal text-warning font-size-lg mb-1">Reserved Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-warning"></span><span class="text-warning" id="aeps_reservedbalance"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-light-danger rounded p-5 mb-2">

                            <div class="m-2  font-size-lg">
                                <span class="font-weight-normal text-danger font-size-lg mb-1">Lien Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-danger"></span><span class="text-danger" id="aeps_lienbalance"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-light-success rounded p-5 mb-2">
                            <div class="m-2 font-size-lg">
                                <span class="text-success">Effective Balance: </span><span class="icon-xl fas fa-xs fa-rupee-sign text-success"></span><span class="text-success aeps_balance"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--begin::User-->
            <div class="topbar-item">
                <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                    <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
                    <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">@obj.firstName</span>
                    <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                        <span class="symbol-label font-size-h5 font-weight-bold">@(obj.firstName.Substring(0,1))</span>
                    </span>
                </div>
            </div>
            <!--end::User-->
        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>
