
@{
    ViewData["Title"] = "Activation KIT Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Activation Kit Id</td>
                    <td>Kit Type</td>
                    <td>Serial No</td>
                    <td>PIN No.</td>
                    <td>Date</td>
                    <td>Used By</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Basic </td>
                    <td>DSF7897SDAF</td>
                    <td>12385</td>
                    <td>27/11/2020</td>
                    <td>7897987987</td>
                    <td>Used</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>